.DS_Store
.cache
npm-debug.log
Thumbs.db
node_modules/
.build/
extensions/**/dist/
out-editor-esm/
out-editor-min/
out-monaco-editor-core/
out-vscode-reh/
out-vscode-reh-min/
out-vscode-reh-pkg/
out-vscode-reh-web/
out-vscode-reh-web-min/
out-vscode-reh-web-pkg/
out-vscode-web/
out-vscode-web-min/
src/vs/server
resources/server
build/node_modules
coverage/
test_data/
test-results/
yarn-error.log
node10/
*.zip
.arch/
**/*.js.map
extensions/php-language-features/
out/vs/base/test/
out/vs/workbench/test/
out/vs/editor/test/
out/vs/platform/files/test/
node10/node_modules/
node10/gyp/
**/node8/
out/electron/locales/
out/windows-foreground-love/
out/electron/*.pak
out/electron/*.bin
out/electron/*.dat
out/electron/*.exe
build/Release/foreground_love.*

extensions/**/out/
dist/
